
<div class="layout-box">    

            <!--displays the top "Dodo" header bar-->

            <div class="top-bar">
              <h1>Dodo</h1>
              
          </div>
    <!--displays the navigation bar-->

    <nav class="navbar" role="navigation" aria-label="main navigation" href="#">
      
        <div id="navbar" class="navbar-menu" routerLinkActive="active" >
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <p> Discover Dodo</p>
                <i class="fa-solid fa-crow"></i>
              </a>

              <div class="navbar-dropdown">


                <a href="/mynest" class="navbar-item" routerLink="mynest">
                  My Nest (Profile)
                </a>

                <hr class="navbar-divider">

                <a href="/itineraries" class="navbar-item" routerLink="itineraries">
                  Itineraries
                </a>

                <hr class="navbar-divider">

                <a href="/generate" class="navbar-item" routerLink="generate">
                  Generate a Dodo
                </a>

                <hr class="navbar-divider">

                <a href="/submitpoi" class="navbar-item" routerLink="submitpoi">
                 Submit a Point of Interest
                </a>

                <hr class="navbar-divider">

                <a class="navbar-item">
                  <a href class="nav-link" (click)="logout()">Log Out</a>
                </a>


              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              
            </div>
          </div>
        </div>
      </nav>


      

      <!--displays the main page content-->
   
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
    
    
</div>
