

<div class="main-container">

    <div class="login-text-box">
        <h1 class="has-text-centered">
            Log In:
        </h1>
    </div>

    <form #userForm="ngForm" (ngSubmit)="signIn()">
      <div class="username-container">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Username" name="username" [(ngModel)]="form.username" >
              <span class="icon is-small is-left">
                <i class="fa-solid fa-crow"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
        </div>
    
        <div class="password-container">
            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" name="password" [(ngModel)]="form.password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
        </div>
    
     <button class="button is-primary" name type="submit">Sign in</button>
    
    </form>
   
</div>
