<div class="main-container">

    <div class="name-container">
        <h1>Hello, {{currentUser.username}}</h1>
        <h2>Location: {{currentUser.location}}</h2>
    </div>

    <div class="links-container">
        <form class="ngForm" (ngSubmit)="generateLink()">
            <button class="button button1 is-link" type="submit">Generate Your DODO</button>
        </form><br>
        <form class="ngForm" (ngSubmit)="editInterestsLink()">
            <button class="button button2 is-link" type="submit">Edit Interests</button>
        </form><br>
        <form class="ngForm" (ngSubmit)="itinerariesLink()">
            <button class="button is-primary is-link" type="submit">Itineraries</button>
        </form>

    </div>

    <div class="saved-interests-container">
        <h1 class="has-text-centered">Interests:</h1>
            <div class="has-text-centered">
                <ul>
                    <li [value]="interest" *ngFor="let interest of interests">• {{interest}}</li>
                </ul>
            </div>
    </div>

    <!-- <form class="ngForm" (ngSubmit)="addInterests()">
        <div class="add-interests-container">
            <h1 class="has-text-centered">Add more interests:</h1>
            <div class="control checkboxes has-text-centered">
                <span>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.music"> <label>Music</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.outdoors"> <label>Outdoors</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.gaming"> <label>Gaming</label><br>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.nature"> <label>Nature</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.art"> <label>Art</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.sports"> <label>Sports</label><br>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.nightlife"> <label>Nightlife</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.food"> <label>Food</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.history"> <label>History</label><br>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.science_technology"> <label>Science/Tech</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.culture"> <label>Culture</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.fashion"> <label>Fashion</label><br>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.books"> <label>Books</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.movies"> <label>Movies</label>
                    <input type="checkbox" name="savedinterest" [(ngModel)]="form.health_wellness"> <label>Health/Wellness</label>
                </span>
            </div>
        </div>

        <div class="buttons is-centered">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
        
        </form> -->

</div>