@import '../../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    margin: auto;

    padding-top: 50px;
}

.name-container {
    height: 60px;
    
    margin-bottom: 25px;

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
        // text-align: right;
    }
}

.links-container {
    height: 180px;
    margin-bottom: 20px;
    text-align: center;

    .button1 {
        background: $pink;
    }

    .button2 {
        background: $purple;
    }
   
}

.saved-interests-container {
    max-width: 500px;
    margin-bottom: 5px;

    .checkboxes {
        margin-bottom: 10px;
    }

    .checkboxes input {
        margin: 0px 0px 0px 0px;
      }
      
    .checkboxes label {
        margin: 0px 6px 0px 3px;
      }    

    h1 {
        height: 50px;
        color: white;
        background: $purple;
        font-size: 35px;
        margin-bottom: 10px;
    }
}

// .add-interests-container {
//     max-width: 500px;
//     margin-bottom: 20px;

//     .checkboxes {
//         margin-bottom: 10px;
//     }

//     .checkboxes input {
//         margin: 0px 0px 0px 0px;
//       }
      
//     .checkboxes label {
//         margin: 0px 6px 0px 3px;
//       }    

//     h1 {
//         height: 50px;
//         color: white;
//         background: $purple;
//         font-size: 35px;
//         margin-bottom: 10px;
//     }
// }