<div class="main-container">

    <div class="generate-text-box">
        <h1 class="has-text-centered">
            Generate a Dodo:
        </h1>
    </div>

    <form class="ngForm" (ngSubmit)="generate()">

        <div class="travelDistance" >
            <div class="control has-icons-left">
                <div class="select is-medium">
                <select>
                    <input class="input"placeholder="travelDistance" name="travelDistance" [(ngModel)]="form.travelDistance">
                    <option selected>How Far are you willing to Travel?</option>
                    <option>Less than 2 miles</option>
                    <option>Less than 10 miles</option>
                    <option>Less than 20 miles</option>
                    <option>Less than 30 miles</option>
                </select>
                </div>
                <span class="icon is-medium is-left">
                    <i class="fa-solid fa-car-on"></i>
                </span>
            </div>
        </div>

        <div class="priceRange">
            <div class="control has-icons-left">
                <div class="select is-medium">
                <select>
                    <input class="input"placeholder="priceRange" [(ngModel)]="form.priceRange" name="priceRange">
                    <option selected>Price Range</option>
                    <option>$</option>
                    <option>$$</option>
                    <option>$$$</option>
                </select>
                </div>
                <span class="icon is-medium is-left">
                    <i class="fa-regular fa-money-bill-1"></i>
                </span>
            </div>
        </div>

        <div class="numberOfDodos" >
          <div class="control has-icons-left">
            <div class="select is-medium">
              <select>
                <input class="input"placeholder="priceRange" [(ngModel)]="form.numberOfDodos" name="numberOfDodos">
                <option selected>Number of Events / Time Available</option>
                <option>1 item: Up to 2 hours Available</option>
                <option>2 items: Up to 4 hours Available</option>
                <option>3 items: Up to 6 hours Available</option>
                <option>4 items: Up to 8 hours Available</option>
              </select>
            </div>
            <span class="icon is-medium is-left">
                <i class="fa-regular fa-clock"></i>
            </span>
          </div>
        </div>

        <div class="referenceInterests">
            <div class="control" >
                <h1 class="has-text-centered">Would you like Dodo to reference your personal interests?</h1>
                <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="form.referenceInterests" name="referenceInterests">
                    Use my personal interests from my profile
                  </label>
            </div>
        </div>

        <div class="addMoreInterests">
            <div class="interest-container">
                <h1 class="has-text-centered"> Add Additional Interests:</h1>
                <div class="control checkboxes">
                    <span>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.music"> <label>Music</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.outdoors"> <label>Outdoors</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.gaming"> <label>Gaming</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.nature"> <label>Nature</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.art"> <label>Art</label><br>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.sports"> <label>Sports</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.nightlife"> <label>Nightlife</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.food"> <label>Food</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.history"> <label>History</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.science_technology"> <label>Science/Technology</label><br>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.culture"> <label>Culture</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.fashion"> <label>Fashion</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.books"> <label>Books</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.movies"> <label>Movies</label>
                        <input type="checkbox" name="savedinterest" [(ngModel)]="form.health_wellness"> <label>Health/Wellness</label>
                    </span>
                </div>
            </div>
        </div>
  

      
                <!--the "save button is disables when the form is not valid!"-->
     <button class="button is-primary" id="submitButton" type="submit">Generate</button>
    
    </form>
   
</div>
