<div #container class="itinerary-card-container">
    <a [routerLink]="">
        <div class="itinerary-card-content">
            <div class="card-content">
            
                <div class="content">
                  <p>Business Name: {{ name }}</p>
                  <!-- <p>Business Hours: {{ businessHours }}</p> -->
                  <p>Business Address: {{address}} </p>
                  <!-- Tags can be added below:  -->
                  <!-- <a href="#">#food</a> <a href="#">#outdoors</a> -->
            
                  <br>
                  <!-- <time datetime></time> -->
                </div>
              </div>
            </div>
    </a>
</div>


