<div class="main-container">
    <div class="about-Dodo-text-box">
        <h1 class="has-text-centered">
            About Dodo
        </h1>
        <h2 class="has-text-centered">
            Have a day off but not sure what to do? <br>
            
            Want to plan a day out but you and your friends can’t agree?<br> <br>
            
            Dodo takes your interests, location, and other preferences to generate a list of places for you to go see and explore!
            
            Dodo is your Day Off/Day Out random activity generator that does the work of finding adventure off your plate. <br> <br>With this app, let your free time go the way of the Dodo! <br>
            <br>
            
        </h2>
    </div>

    <form class="ngForm" (ngSubmit)="login()">
        <button class="button is-primary" id="login-button">Log In</button>
    </form>

    <form class="ngForm" (ngSubmit)="signup()">
        <button class="button is-primary" id="signup-button">Sign Up</button>
    </form>

</div>