@import '../../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;

    max-width: 700px;

    margin: auto;

    padding-top: 50px;

.about-Dodo-text-box {
    width: 700px;
    background: $purple;
    margin-bottom: 50px;

    box-shadow: 0px 0px 10px 0px rgba(black, 0.15);

    h1 {
        color: white;
        font-size: 50px;
        
    }

    h2 {
        color: white;
        font-size: 25px;
        
    }
}

#login-button {
    width: 700px;
    margin-bottom: 50px;
}



#signup-button {
    width: 700px;
    margin-bottom: 50px;
}

}