<div class="main-container">
    <div class="about-Dodo-text-box">
        <h1 class="has-text-centered">
            About Dodo
        </h1>
        <h2 class="has-text-centered">
            Do you ever have a day off where you want to go do something 
            but aren't sure what? Ever try to plan a day out but find the number 
            of options leading to indecision? I find that sometimes when I try to 
            plan fun days off or days out, the act of the planning becomes a bit 
            tiring in itself, especially when you try to coordinate with another 
            person's interests, and lessens the enjoyment I could be having--not to
            mention shortening the time we have available to go do the thing! 
            Welcome to Dodo.
            
        </h2>
    </div>

    <form class="ngForm" (ngSubmit)="login()">
        <button class="button is-primary" id="login-button">Log In</button>
    </form>

    <form class="ngForm" (ngSubmit)="signup()">
        <button class="button is-primary" id="signup-button">Sign Up</button>
    </form>

</div>