<div class="main-container">

    <div class="customize-profile-box">
        <h1 class="has-text-centered">Customize your profile</h1>
    </div>
    
    <div class="field name-container">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Full Name:">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field location-container">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Location:">
          <span class="icon is-small is-left">
            <i class="fa fa-location-arrow"></i>
          </span>
        </p>
      </div>
    
    <div class="interest-container">
        <h3 class="has-text-centered">Interests:</h3>
        <div class="control checkboxes">
            <span>
                <input type="checkbox" name="" value=""> <label>One</label>
                <input type="checkbox" name="" value=""> <label>Two</label>
                <input type="checkbox" name="" value=""> <label>Three</label>
                <input type="checkbox" name="" value=""> <label>Four</label>
                <input type="checkbox" name="" value=""> <label>Five</label>
                <input type="checkbox" name="" value=""> <label>Six</label>
            </span>
        </div>
    </div>
    
    
        
</div>